{% extends 'base.html.twig' %}

{% block title %}JEUXVIDEO.COM - Le média de référence des gamers : Jeux vidéo sur PC et Consoles{% endblock %}

{% block body %}

    {% for article in articles %}
        <a href='{{ path('actu_show', {'id': article.id}) }}'><img src="{{ asset('/images/' ~ article.featuredImage) }}"><br>{{ article.titre }}</a><br>
        {% for categorie in article.categories %}
            <p class='{{ categorie }}'>{{ categorie }}</p>
        {% endfor %}
    {% endfor %}

    {% for listeArticle in listeArticles %}
        <a href='{{ path('actu_show', {'id': listeArticle.id}) }}'>{{ listeArticle.titre }}</a>
    {% endfor %}

{% endblock %}


