{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Liste des Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Image de présentation</th>
                <th>Catégories</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.corps }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('d-m-Y H:i') : '' }}</td>
                <td><img src="{{ asset('/images/' ~ article.featuredImage) }}" width="50%"><br>{{ article.featuredImage }}</td>
                <td>{% for categorie in article.categories %}
                {{ categorie }}, {% endfor %}</td>
                <td>{{ article.users }}</td>
                <td>
                    <a href="{{ path('actu_show', {'id': article.id}) }}">Voir</a>
                    <a href="{{ path('actu_edit', {'id': article.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'articles pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
    <a class="btn-jvc" href="{{ path('actu_new') }}">Créer un nouvel article</a>
{% endblock %}
