{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}

    <img src="{{ asset('/images/' ~ article.featuredImage) }}">

    <h1>{{ article.titre }}</h1>
    {% for categorie in article.categories %}
               <p class='{{ categorie }}'>{{ categorie }}</p>
    {% endfor %}

    <p>{{ article.corps|raw }}</p>

    {% if article.createdAt == article.updatedAt %}

    <p>Ecrit par <a href="{{ path('profil', {'username': article.users}) }}">{{ article.users }}</a> le {{ article.createdAt ? article.createdAt|date('d-m-Y H:i') : '' }}</p>

    {% else %}

    <p>Ecrit par <a href="{{ path('profil', {'username': article.users}) }}">{{ article.users }}</a> le {{ article.createdAt ? article.createdAt|date('d-m-Y H:i') : '' }} mise à jour le {{ article.updatedAt ? article.updatedAt|date('d-m-Y H:i') : '' }}</p>

    {% endif %}
    
{% endblock %}
